<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar" style="height: auto;">
      	<!-- sidebar menu: : style can be found in sidebar.less -->
      	<ul class="sidebar-menu">
        	<li class="header">MAIN NAVIGATION</li>
        	<li>
          		<a ui-sref="apps.list">
            		<i class="fa fa-cloud"></i> <span>Pusher Apps</span>
              </a>
          </li>
        </ul>
    </section>
    <!-- /.sidebar -->
  </aside>