<section class="content-header">
    <h1>
        {{app.slug}}
    </h1>
    <ol class="breadcrumb">
        <li>
            <a ui-sref="apps.list"><i class="fa fa-dashboard"></i> Home</a>
        </li>
        <li>
            <a ui-sref="apps.list"><i class="fa fa-cloud"></i> Apps</a>
        </li>
        <li class="active">{{app.slug}}</li>
    </ol>
</section>
<section class="content">
	<div class="row">
		<div class="col-md-8">
			<div class="box">
				<div class="box-header with-border">
		          <h3 class="box-title"><i class="fa fa-cloud"></i> Details</h3>
		        </div>
				<div class="box-body">
					<ul>
					    <li>
					    	<code>
					    		app_id = {{app.guid}}
					    	</code>
					    </li>
					    <li>Name : {{app.slug}}</li>
					</ul>
				</div>
			</div>
			<div class="box">
		<div class="box-header with-border">
          	<h3 class="box-title"><i class="fa fa-cloud"></i> Code examples</h3>
        </div>
		<div class="box-body">
			<h3>Client side</h3>
			<uib-tabset class="nav-tabs-custom">
				<uib-tab heading="Javascript">	

				<pre><code class="language-javascript" prism>&lt;!DOCTYPE html&gt;
&lt;head&gt;
  &lt;title&gt;Pusher Test&lt;/title&gt;
  &lt;script src="https://js.pusher.com/3.0/pusher.min.js"&gt;&lt;/script&gt;
  &lt;script&gt;
    // Enable pusher logging - don't include this in production
    Pusher.log = function(message) {
      if (window.console && window.console.log) {
        window.console.log(message);
      }
    };

    var pusher = new Pusher('40ea804fae1295d1faf1', {
      encrypted: true
    });
    var channel = pusher.subscribe('test_channel');
    channel.bind('my_event', function(data) {
      alert(data.message);
    });
  &lt;/script&gt;
&lt;/head&gt;</code></pre>

				</uib-tab>
			</uib-tabset>

			<h3>Server side</h3>
			<pre><code class="language-php" prism>require('Pusher.php');

$app_id = '118326';
$app_key = '5b968f4a86d50f0c7df9';
$app_secret = '1f9f41877fa3894f253c';

$pusher = new Pusher(
  $app_key,
  $app_secret,
  $app_id,
  array('encrypted' => true)
);

$data['message'] = 'hello world';
$pusher->trigger('test_channel', 'my_event', $data);</code></pre>
		</div>
	</div>
		</div>

		<div class="col-md-4">
			<div class="box">
				<div class="box-header with-border">
		          <h3 class="box-title"><i class="fa fa-key"></i> Access Tokens</h3>
		        </div>
				<div class="box-body">
					<p>If your token becomes compromised, you can create a new one here. You can then delete the old token when you've updated your app.</p>
					<div ng-if="app.tokens.length > 1" class="callout callout-info">
						<p>You have more than one token, usually one is enough. If you have created a new token, update the references in your apllication and delete the old one!</p>
					</div>
					<ul ng-repeat="token in app.tokens" class="products-list product-list-in-box">
						<li class="item">
							Created <span am-time-ago="token.created"></span> <button ng-if="app.tokens.length > 1" mwl-confirm title="Delete token" message="Are you sure you want to delete this token ?" on-confirm="deleteToken(token.key)" confirm-button-type="danger" class="btn btn-xs btn-danger pull-right">Delete</button>
					    	<pre class="language-javascript"><code>key = '{{token.key}}'
secret = '{{token.secret}}'</code></pre>
						</li>
					</ul>
				</div>
				<div class="box-footer">
					<button ng-click="addToken()" class="btn btn-primary">Add token</button>
				</div>
			</div>
		</div>
	</div>
</section>
