<section class="content-header">
    <h1>Your Apps </h1>
    <ol class="breadcrumb">
        <li>
            <a ui-sref="apps.list"><i class="fa fa-dashboard"></i> Home</a>
        </li>
        <li class="active">Apps</li>
    </ol>
</section>
<section class="content">
	<div class="row">	
		<div class="col-md-8">
			<div class="callout callout-info" ng-show="!apps.length">You he no apps, use the form below to add one!</div>
			<div class="box" ng-if="apps.length">
				<div class="box-header with-border">
		          <h3 class="box-title"><i class="fa fa-cloud"></i> Your existing apps</h3>
		        </div>
				<div class="box-body">
					<p>Here is a list of all your apps :</p>
					<ul class="products-list product-list-in-box">
						<li class="item" ng-repeat="app in apps"> 
							<h3>
					        	<a ui-sref="apps.detail({appGuid:app.guid})">{{app.slug}}</a>
							</h3>
							Created <span am-time-ago="app.created"></span>
					        <button mwl-confirm title="Delete" message="Are you sure you want to delete this app ?" on-confirm="deleteApp(app)" confirm-button-type="danger" class="btn btn-xs btn-danger pull-right">Delete</button>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="box">
				<div class="box-header with-border">
					<h3 class="box-title"><i class="fa fa-plus"></i> Create a new app</h3>
				</div>
				<div class="box-body">
					<form class="form-inline" name="newApp">
						<div class="form-group">
							<input type="text" ng-model="slug" class="form-control" placeholder="Slug" required />
						</div>
						<button class="btn btn-primary" ng-click="addApp(slug)" ng-disabled="newApp.$invalid">New App</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>