(function() {
    'use strict';

    angular
    	.module('myApp.config', [])
	    .constant(
            'myConfig', 
            {
			    'appName' : 'My App',
			    'backendUrl': 'http://api.innovalangues.net/api/v1',
			    'oAuthTokenUrl': 'http://api.innovalangues.net/oauth/v2/token',
			    'oAuthClientId': '1_3l53ylm3zfokgkosswkoswok4sw4w0g8ogss0go4wckwc44w0c',
			    'oAuthClientSecret': '1vu14wqn7wcgsg4cg804ws8cw4k008kwsokcc4kk0kgsskocko'
			}
	    );
})();